/* -----------------BODY---------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* -----------------NAVBAR---------------- */

nav {
  display: flex;
  align-items: center;
  background-color: black;
}
.logo-terruneo {
  width: 50px;
}
.blanco {
  font-weight: bolder;
  color: white;
  font-size: 4em;
}

.naranja {
  font-weight: bold;
  color: #f3924b; /* Cambiando a color naranja */
  font-size: 4em;
}

.nav_terruneo {
  padding-left: 40px;
  padding-top: 20px;
}

.button_conocenos {
  border-radius: 21px;
  margin-top: 22px;
  margin-left: 40px;
  margin-bottom: 160px;
  width: 230px;
  height: 50px;
  font-size: 22px; /* Tamaño de la fuente */
  color: rgb(44, 44, 44);
  background-color: rgb(204, 204, 204);
}

.titulo_blanco {
  color: white;
  font-weight: 800; /* O también puedes usar 'bold' */
  font-size: 4em;
}

.titulo_principal {
  padding-top: 80px;
  padding-left: 40px;
}

/* -----------------HEADER-------------- */
.teledeteccion {
  display: grid;
  justify-content: end;
  margin-top: 80px;
  margin-right: 50px;
  margin-bottom: 100px;
}
.teledeteccion_titulo {
  margin-bottom: 5.5em;
  line-height: 0.9px;
}
.teledeteccion_parrafo {
  line-height: 13.9px;
  font-size: 2em;
}

.teledeteccion_parrafo_blanco {
  color: white;
}

.teledeteccion_titulo_blanco {
  font-size: 3em;
  color: #ffffff;
  font-weight: bold;
  line-height: 0.6;
}

.teledeteccion_titulo_naranja {
  font-size: 3em;
  color: #f3924b;
  font-weight: bold;
  line-height: 0.8;
}

.parrafos-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.linea {
  display: flex;
}

/* -----------------MAIN-------------- */

.gestionaElTerritorio {
  background-image: url("./assets/Elemento\ grafico\ camino\ -\ terruneo-02\ 1.png");
  background-color: black;
  background-size: cover;
}

.reconocimiento {
  font-size: 3em;
  color: #ffffff;
  font-weight: bold;
}

.subtitulo_naranja {
  padding-left: 100px;

  font-size: 4em;
  color: #f3924b;
  font-weight: bold;
  padding-top: 60px;
  /* padding-right: 100px; */
}

.subtitulo_naranja_inside {
  color: #f3924b; /* Cambiando a color naranja */
  font-weight: bold;
}
.h6_naranja {
  line-height: 0.5px;
  color: rgb(243, 146, 75);
  font-weight: 900;
  margin-top: 24px;
  font-size: 26px;
}

.texto_blanco {
  padding: 0 70px;
  color: white;
  font-size: 20px;
}
.tabla1 {
  padding: 0 70px;
  color: white;
  padding-top: 40px;
}
.cards {
  display: flex;
  justify-content: space-between;
  padding: 0px 70px 0px 70px;
}
.card_fila1,
.cards_fila2 {
  width: -webkit-fill-available;
}
.imagen_teledeteccion {
  height: 250px;
  /* width: -webkit-fill-available ; */
  border-radius: 27px;
}

.cards-imagen1,
.cards-imagen2 {
  padding-right: 70px;
}

.texto_blanco_cards {
  color: white;
  font-size: 1.5em;
}

.texto_naranja {
  color: #f3924b; /* Cambiando a color naranja */
}

/* -----------------HEADER--------------- */

.solucion_completa {
  background-image: url("./assets/Group\ 1000001931.png");
  background-size: cover;
  background-color: black;
  padding-top: 60px;
  padding-left: 70px;
}
.solucion_h6_naranja {
  line-height: 0.5px;
  color: rgb(243, 146, 75);
  font-weight: 900;
  margin-top: 300px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
  margin-right: 70px;
}
.solucion_h6_naranja h6 {
  font-weight: bolder;
  font-size: 33px;
  line-height: 0.9;
}

.solucion_desplegable p {
  color: #ffffff;
  line-height: 0.5;
}
.solucion_botones {
  padding-bottom: 150px;
}

/* ------------------SECCION FACIL DE USAR-------------- */
.facil_de_usar {
  background-color: rgb(35, 35, 35);
}

.facil-de-usar-titulo1 {
  padding-left: 70px;
  font-size: 3em;
  color: #ffffff;
  font-weight: bold;
  padding-top: 60px;
  line-height: 0.6;
}

.facil-de-usar-titulo2 {
  padding-left: 70px;
  font-size: 3em;
  color: #f3924b;
  font-weight: bold;
}
.tabla {
  /* color: white;
  padding-top: 40px; */
}

.linea_blanca2 {
}
.tabla {
  position: relative;
  width: 100%;

  padding: 0 70px;
}

.facil_parrafos_en_orden {
  display: flex;
  /* justify-content: center; */
  padding: 40px 0px 40px 0px;
  /* flex-direction: row; */
  flex-wrap: wrap;
}

.facil_parrafos {
  display: flex;
  /* justify-content: center; */
  padding: 17px 70px 0px 0px;
  /* flex-direction: row; */
  flex-wrap: wrap;
}

.facil_parrafos_columna {
  padding-right: 200px;
}

.linea_blanca2 {
  width: 100%;
  height: 2px; /* Ajusta el grosor de la línea */
  background-color: white;
}

.punto {
  position: absolute;
  width: 10px; /* Ancho del punto */
  height: 10px; /* Altura del punto */
  background-color: rgb(255, 128, 0); /* Color del punto */
  border-radius: 50%; /* Para hacer el punto redondo */
}

.primero {
  top: -4px; /* Ajusta la posición verticalmente */
  left: 4.5%; /* Alinea el primer punto al principio de la línea */
}

.segundo {
  top: -4px; /* Ajusta la posición verticalmente */
  left: 34%; /* Coloca el segundo punto a un tercio de la longitud de la línea */
}

.tercero {
  top: -4px; /* Ajusta la posición verticalmente */
  left: 68%; /* Coloca el tercer punto a dos tercios de la longitud de la línea */
}

.video-container {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  padding: 0 70px; /* 70px de padding a la izquierda y a la derecha */
  margin-top: 70px; /* Agrega espacio adicional arriba */
}

.video-terruneo {
  border: 1px solid #ccc;
  border-radius: 13px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: -webkit-fill-available;
  height: auto; /* Cambia el alto del video según tus necesidades */
}

.linea_blanca {
  width: 100%; /* Ancho de la línea blanca */
  height: 1px; /* Grosor de la línea */
  background-color: white; /* Color de la línea */
  margin: 0 auto; /* Centra la línea en el contenedor */
}
.numero {
  font-size: 2em;
}
.columna-3 p {
  font-size: 1.9em;
  line-height: 0.6;
}
.facil_parrafos_en_orden h3 {
  font-size: 3.1rem;
}
.columna-1 {
  flex: 0 1 10%; /* Columna 1 ocupa el 10% del espacio */
}

.columna-2 {
  flex: 1 1 25%; /* Columna 2 ocupa el 25% del espacio */
}

.columna-3 {
  flex: 3; /* Columna 3 ocupa el resto del espacio */
}

/* --------------CAMPOS DE ACCION-------------- */
.campos_de_accion {
  background-color: rgb(35, 35, 35);
}

.explora-nuestros {
  padding-left: 70px;
  font-size: 3em;
  color: #ffffff;
  font-weight: bold;
  padding-top: 60px;
  line-height: 0.6;
}

.camposAccion {
  padding-left: 70px;
  font-size: 3em;
  color: #f3924b;
  font-weight: bold;
}

#carouselExampleCaptions.carousel {
  padding: 10px 70px 10px 70px;
}

.carousel-subtitulos {
  font-size: 32px;
  padding-bottom: 60px;
}
.carousel-parrafos p {
  font-size: 24px;
  line-height: 0.7;
}
.carousel-parrafos {
  padding-bottom: 135px;
}

.slide1 {
  background-image: url("./assets/carrousel/luxa.org-opacity-changed-Medio\ ambiente\ 2.jpg");
  background-size: cover;
  height: 80vh; /* Ajustar altura de la imagen */
  background-color: rgba(255, 255, 255, 0.9); /* RGBA con opacidad del 50% */
}

.slide2 {
  background-image: url("./assets/carrousel/luxa.org-opacity-changed-Gestión\ de\ riesgo\ 6.jpg");

  background-size: cover;
  height: 80vh; /* Ajustar altura de la imagen */
}

.slide3 {
  background-image: url("./assets/carrousel/luxa.org-opacity-changed-Medio\ ambiente\ 2.jpg");

  background-size: cover;
  height: 80vh; /* Ajustar altura de la imagen */
}

.slide4 {
  background-image: url("../assets/carrousel/luxa.org-opacity-changed-Cartografia\ 3.jpg");
}

.slide5 {
  background-image: url("../assets/carrousel/luxa.org-opacity-changed-Suelo\ 4.jpg");
}

.slide6 {
  background-image: url("../assets/carrousel/luxa.org-opacity-changed-Atmósfera\ 5\ \(1\).jpg");
}

.slide7 {
  background-image: url("../assets/carrousel/luxa.org-opacity-changed-Gestión\ de\ riesgo\ 6.jpg");
}

/* --------------FORMULARIO DE CONTACTO-------------- */
.contacto {
  background-image: url("./assets/Group\ 1000001931.png");
  background-size: cover;
  background-color: black;
}

.contactanos {
  padding-left: 70px;
  font-size: 3em;
  color: #f3924b;
  font-weight: bold;
  padding-top: 60px;
}

.contacto_titulo {
  display: flex;
}

.contacto_titulo_formulario {
  flex: 60%; /* El 60% del espacio disponible */
}

.contacto_formulario {
  flex: 45%; /* El 40% del espacio disponible */
}

.form-group,
.form-group2 {
  display: flex;
  flex-direction: column;
  padding-right: 35px;
  margin-left: 35px;
}

.form-group label {
  margin-bottom: 5px; /* Espacio entre la etiqueta y el input */
}

.form-group input,
.form-group2 textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  padding: 5px;
}

.form-group2 {
  display: flex;
  flex-direction: column;
  padding-bottom: 200px;
  padding-top: 30px;
}

.contacto_formulario button {
  background-color: white;
  color: black;
  border: none;
  padding: 12px 45px;
  cursor: pointer;
}

.contacto_formulario button:hover {
  background-color: #ddd;
}

.contacto_formulario {
  padding-left: 40px;
  padding-top: 100px;
  border-radius: 18px;
  background-color: #0f0e0e;
  margin-top: 70px;
  color: white;
  margin-bottom: 60px;
  padding-bottom: 40px;
  padding-right: 40px;
  margin-right: 70px;
}

.formulario-fila1,
.formulario-fila2 {
  display: flex;
  padding-top: 30px;
}

button[type="submit"] {
  border-radius: 22px; /* Ajusta el valor según sea necesario */
  /* Otros estilos del botón */
}
.formulario-boton {
  float: right;
}

/* --------------FOOTER-------------- */
/* Estilos personalizados */
.footer {
  background-color: #1c1c1c; /* Negro */
  color: #fff; /* Blanco */
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-top: 80px;

  padding-bottom: 40px;
}

.logo_atic {
  width: 217px;
  padding-bottom: 40px;
  padding-top: 15px;
}

.logo-terruneo-footer {
  width: 94px;
  padding-bottom: 40px;
}

.footer-parrafos a {
  text-decoration: none;
  color: white;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
}

.footer-right {
  padding-right: 110px;
}

.footer-bottom {
  display: flex;
  justify-content: center;
}
.footer-terruneo {
  display: flex;
}
/* ----------------MEDIA QUERIES TABLET --------------*/
@media screen and (max-width: 1200px) {
  cards {
    display: flex;
    /* justify-content: space-between; */
    padding: 0px 10px 0px 10px;
    /* flex-direction: column; */
    align-items: stretch;
  }

  .cards-imagen1,
  .cards-imagen2 {
    padding-right: 24px;
  }

  .contacto_titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/*--------------- MEDIA QUERIES PHONE------------- */

@media screen and (max-width: 800px) {
  .nav_terruneo {
    padding-top: 20px;
    padding-left: 20px;
  }

  .blanco {
    font-size: 2em;
  }
  .naranja {
    font-size: 2em;
  }

  .titulo_principal {
    padding-top: 12px;
    padding-left: 2px;
  }
  .titulo_blanco {
    color: white;
    font-weight: 800;
    font-size: 2.5em;
    text-align: center;
  }

  .button_conocenos {
    border-radius: 21px;
    margin: 16px auto 20px auto;
    width: 113px;
    height: 44px;
    font-size: 12px;
    color: rgb(44, 44, 44);
    background-color: rgb(204, 204, 204);
    display: block;
  }
  .imagen-header {
    height: 230px;
  }

  .teledeteccion_titulo {
    margin-bottom: 2.5em;
    line-height: 0.9px;
  }
  .teledeteccion_titulo_blanco {
    font-size: 2em;
  }

  .teledeteccion_titulo_naranja {
    font-size: 2em;
  }

  .teledeteccion_parrafo {
    line-height: 5px;
    font-size: 1.2em;
  }
  .teledeteccion {
    display: grid;
    justify-content: space-around;
    /* margin-top: 45px; */
    margin-right: 0px;
    margin-bottom: 25px;
    justify-items: center;
  }

  .cards {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    flex-direction: column;
  }

  .cards-imagenes{
    padding: 15px 30px 15px 30px;
  }
  .imagen_teledeteccion {
    height: 250px;
    width: -webkit-fill-available;
    border-radius: 13px;
  }

  /* ------------------FORMULARIO DE CONTACTO------------------ */
  .contacto_titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contactanos {
    padding-left: 10px;
    font-size: 2em;
    color: #f3924b;
    font-weight: bold;
    padding-top: 15px;
  }

  .formulario-fila1,
  .formulario-fila2 {
    display: flex;
    padding-top: 0px;
    flex-direction: column;
  }

  .form-group2 {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 16px;
  }
  .contacto_formulario {
    padding-left: 20px;
    padding-top: 50px;
    border-radius: 18px;
    background-color: #0f0e0e;
    margin-top: 40px;
    color: white;
    margin-bottom: 40px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-right: 10px;
  }
 .contacto_formulario button{

  margin: 34px;
  background-color: white;
  color: black;
  border: none;
  padding: 14px 45px;
  cursor: pointer;
 }
 .formulario-boton {
  float: none;
}
  /* ------------FOOTER----------------- */
  .footer {
    background-color: #1c1c1c;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    flex-direction: column;
    align-items: center;
  }
  .logo-terruneo-footer {
    width: 48px;
    padding-bottom: 19px;
  }
  .logo_atic {
    width: 149px;
    padding-bottom: 23px;
    padding-top: 6px;
  }
  .footer-right {
    padding-right: 0px;
  }
  .footer-parrafos {
    text-align: center;
  }
}
